.skip-link {
    position: absolute;
    top: -500px;
}

.skip-link:focus {
    top: 10px;
    font-size: 20px;
    position: relative;
    padding: 20px;
}

button {
    font-size: 14px;
}

footer {

    border-radius: 10px;
    margin-left: 30px;
    width: 100px;
    padding: 2px;
}


/*tablet view */
@media screen and (min-width: 701px) and (max-width: 1200px) {
    h1 {
        font-size: 25px;
    }

    h2,
    h3 {
        font-size: 22px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 22px;
    }

    .grid-item {
        padding: 10px;

        opacity: 0;
        animation: fade 1.6s ease-in-out forwards;

    }

}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(19px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Pulsing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

h1 {
    font-family: 'Brawler', serif;
    font-size: 28px;
    color: #438fed;
    padding: 10px 20px;
    border: 2px solid #438fed;
    border-radius: 15px;
    margin: 20px 20px 20px 20px;
    transition: transform 0.3s, color 0.3s;
    animation: Pulsing 1s infinite;
}


h2,
h3 {
    font-size: 22px;
}

p {
    font-family: 'Brawler', serif;
    line-height: 1.6;

}

.button-container {
    font-family: 'Brawler', serif;
    background-color: #0d53a9;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;

}

@media (prefers-reduced-motion: reduce) {
    img.gif-image {
        display: none;
        margin: 0 auto;
    }

    img.nongif-image {
        display: block;
        margin: 0 auto;
    }


}

@media not (prefers-reduced-motion: reduce) {
    img.gif-image {
        display: block;
        text-align: center;

        margin: 0 auto;

    }

    img.nongif-image {
        display: none;
        text-align: center;

        margin: 0 auto;

    }

}

img {
    border: 5px solid #ff9a8b;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 4px;
}

img:hover {
    transform: scale(1.09);
    transition: transform 0.25s ease;
}

nav {
    border: 2px solid black;
    border-radius: 15px;
    margin: 20px 20px 20px 20px;

}




li {
    display: inline-block;
    margin-left: 50px;

}

nav a {
    border-color: rgb(255, 115, 0);
    padding: 5px;
    margin: 2px;
}


.current {
    background-color: #b85555;
    font-weight: bold;
    text-decoration: underline;
    border-radius: 10px;
}


.grid-container {
    display: grid;
    gap: 20px;
}


.grid-item {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}



@media screen and (min-width: 1201px) {

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .button-container {
        background-image: url('../images/nav_back1.png');
        background-size: cover;

        background-position: center;

    }

    img {
        border: 5px solid #ff9a8b;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 500px;
        padding: 4px;
    }
}
